# Example environment variables
POSTGRES_DB=whatsapp_template_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
REDIS_URL=redis://localhost:6379/0
JWT_PUBLIC_KEY='-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----'
GUPSHUP_API_KEY=sk_xxx
GUPSHUP_APP_ID=your_app_id
